@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}

main{
    flex-grow: 1;
}

#navbarNav a{
    color: white;
}

#navbarNav a:hover{
    text-shadow: 2px 2px 5px white;
}

.hero {
    background-image: url("/img/wallpaperflare.com_wallpaper.jpg");
    height: 95.5vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.tituloParrafo{
    padding-top: 35vh;
}

.hero h1{
    text-shadow: 2px 2px 10px black;
}

.hero p{
    text-shadow: 2px 2px 10px black;
}

.hero button{
    border-radius: 100%;
    width: 40px;
    height: 40px;
    border: none;
    background-color: black;
}

.hero button:hover {
    box-shadow: 4px 2px 10px #ffffff;
}


main{
    background-color: #EBEEF7;
}

#articulos button{
    background-color: #92CA01;
    border-color: white;
    color: black;
}

#articulos button:hover{
    background-color: #92CA01;
    border-color: white;
    color: white;
}

.card {
    border: none;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.226);
}

.card:hover {
    border: none;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.448);
}

.cardArticulosIndex a{
    color: black;
}
.cardArticulosIndex a:hover{
    color: rgb(190, 134, 30);
}

footer a{
    color: #92CA01;
    text-decoration: none;
}

/*DETALLES*/

.heroDetalles img{
    height: 300px;
}
.contenidoArticulo h3 {
    color: #92CA01;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.624);
}

.contenidoArticulo i{
    color: rgb(222, 153, 27);
    font-size: 10px;
}

.buttonRegistrarse button {
    background-color: #92CA01;
}

.buttonRegistrarse button:hover {
    background-color: #92CA01;
    box-shadow: 0px 0px 5px black;
}


@media (min-width: 768px) and (max-width:991px) {


    /*Page DETALLES*/
    .heroDetalles img{
        height: 400px;
    }
}

@media (min-width: 992px) {

    /*Page DETALLES*/
    .heroDetalles img{
        height: 650px;
    }
}